<div id="<%= dom_id session %>">
  <p>
    <strong>Time to live sec:</strong>
    <%= session.time_to_live_sec %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= session.ip_address %>
  </p>

</div>
