<% content_for :form_body do %>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm space-y-6">
    <%= form_header "New voting session" %>

    <%= render "form", user: @user %>

    <hr />

    <%= render "shared/link_to_election_results" %>
  </div>
<% end %>
