<% content_for :form_body do %>
<div class="sm:mx-auto sm:w-full sm:max-w-sm space-y-6">
  <%= form_header 'New candidate', centered: false %>

  <%= render "form", candidate: @candidate %>

  <br>

  <div>
    <%= link_to "Back to new vote", new_vote_url %>
  </div>
</div>
<% end %>
