<%= form_with(model: vote, html: { class: 'space-y-6' }) do |form| %>
  <% if vote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
        <% vote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- TODO: Implement the form for casting a vote by select a radio button for a candidate -->
  <div id="candidates">
    <% @candidates.each do |candidate| %>
      <div class="candidate">
        <!-- TODO calculate snake case for candidate name to use in label_for -->
        <%= form.radio_button :candidate_id, candidate.id %>
        <%= form.label candidate.full_name %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit(value: "Vote", class: button_classes) %>
  </div>
<% end %>
