<% content_for :form_body do %>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm space-y-6">
    <%= form_header 'Cast your vote today!', centered: false %>

    <%if @candidates.none? %>
      <div>
        <p>There are no candidates on the ballot yet. Write in the full name of your candidate in the form below.</p>
      </div>
    <% else %>
      <%= render "form", vote: @vote %>
    <% end %>

    <hr />

    <%= form_header 'Or add a new candidate', centered: false %>

    <%= render "candidates/form", candidate: @candidate, candidate_submit_label: 'Write in and vote' %>

    <div>
      <%= link_to "Election results", votes_path %>
    </div>
  </div>
<% end %>
